<% title 'Tasks' %>

<div class='filter'>
  Filter:
  <%= link_to 'All', tasks_path(:filter => 'all') %>,
  <%= link_to 'Uncompleted', tasks_path(:filter => 'uncompleted') %>,
  <%= link_to 'Completed', tasks_path(:filter => 'completed') %>
</div>

<table id='tasks' class='table'>

  <thead>
    <tr>
      <th></th>
      <th>Description</th>
      <th>Owner</th>
      <th>Created</th>
      <% if logged_in? %>
        <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr <% if task.completed %>class='completed'<% end %>>
        <td>
            <%= form_for(task, :method => :patch) do |f| %>
              <%= f.check_box :completed, :id => "task_completed_#{task.id}", :class => 'input-lg', :disabled => !logged_in?, :onclick => 'submit()' %>
            <% end %>
        </td>
        <td><%= link_to task.description, task %></td>
        <td><%= link_to task.owner.username, task.owner %></td>
        <td><%= time_ago_in_words(task.created_at) %> ago</td>
        <% if logged_in? %>
          <td><%= link_to task, method: :delete, data: { confirm: 'Are you sure?' } do %><span class='glyphicon light glyphicon-remove'></span><% end %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>

</table>

<%= link_to 'New Task', new_task_path, :class => 'btn btn-default' if logged_in? %>
