<p id='notice'><%= notice %></p>

<h1><%= @task.description %></h1>

<p>
  <strong>Completed:</strong>
  <%= @task.completed %>
</p>

<p>
  <strong>Owner:</strong>
  <%= link_to @task.owner.username, @task.owner %>
</p>

<p>
  <strong>Created by:</strong>
  <%= link_to @task.creator.username, @task.creator %>
</p>

<% unless @task.tags.empty? %>

  <h2>Tags</h2>

  <ul>
    <% @task.tags.each do |tag| %>
      <li><%= link_to tag.name, tag %></li>
    <% end %>
  </ul>

<% end %>

<% if logged_in? %>
  <%= link_to 'Edit', edit_task_path(@task) %> |
  <%= link_to 'Destroy', @task, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
