<p id='notice'><%= notice %></p>

<h1><%= @user.username %></h1>

<p>
  <strong>Team:</strong>
  <%= @user.team.name %>
</p>

<% unless @user.tasks.empty? %>

  <h2>Tasks owned</h2>

  <ul>
    <% @user.tasks.each do |task| %>
      <li><%= link_to task.description, task %></li>
    <% end %>
  </ul>

<% end %>

<% unless @user.created_tasks.empty? %>

  <h2>Tasks created</h2>

  <ul>
    <% @user.created_tasks.each do |task| %>
      <li><%= link_to task.description, task %></li>
    <% end %>
  </ul>

<% end %>

<% if logged_in? and (currently_logged_in?(@user) or current_user.admin?) %><%= link_to 'Edit profile', edit_user_path(@user) %><br><% end %>
<%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } if logged_in? and current_user.admin? %>
