<!DOCTYPE html>
<html>
<head>
  <title>Tik</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>

  <ul>
    <li><%= link_to 'Tasks', :root %></li>
    <li><%= link_to 'Tags', tags_path %></li>
    <li><%= link_to 'Users', users_path %></li>
    <li><%= link_to 'Teams', teams_path %></li>
  </ul>

  <ul>
    <% if logged_in? %><li><%= link_to current_user.username, current_user %></li><% end %>
    <% unless logged_in? %><li><%= link_to 'Log in', login_path %></li><% end %>
    <% unless logged_in? %><li><%= link_to 'Sign up', signup_path %></li><% end %>
    <% if logged_in? %><li><%= link_to 'Log out', logout_path, :method => :delete %></li><% end %>
  </ul>

</nav>

<%= yield %>

</body>
</html>
